@use "scss/abstracts" as *;

.ctg_item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 100%;
  background: var(--bg-ctg-item);
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &__thumb {
    width: 116px;
    height: 116px;
    object-fit: contain;
    background: var(--bg-ctg-item-thumb);
    border-radius: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--text-color);

    /** Responsive */
    @include screen(tablet) {
      font-size: 20px;
    }

    @include screen(mobile) {
      font-size: 18px;
    }
  }

  &__desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--text-color);

    /** Responsive */
    @include screen(tablet) {
      font-size: 14px;
    }
  }

  @media (min-width: 768px) and (max-width: 1229.98px) {
    flex-direction: column;
    gap: 16px;
    text-align: center;

    &__thumb {
      width: 100%;
    }

    &__desc {
      margin-top: 0;
    }
  }
}
