html.dark {
  --bg-body-color: #292e39;
  --primary-bg-color: #171c28;
  --text-color: #fff;
  --text-hover-color: #00bcd4;
  --text-active-color: #00bcd4;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
  --icon-active-color: brightness(0) saturate(100%) invert(51%) sepia(45%)
    saturate(4089%) hue-rotate(153deg) brightness(104%) contrast(104%);

  --header-bg-color: var(--primary-bg-color);
  --header-actions-group-bg-color: #292e39;
  --header-actions-group-shadow: rgba(0, 0, 0, 0.2);
  --header-actions-group-separate-bg-color: #545458;

  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(16%)
    saturate(704%) hue-rotate(185deg) brightness(91%) contrast(91%);
  --dropdown-border-sider-color: var(--primary-bg-color);

  /** Home Page*/
  --bg-ctg-item: var(--primary-bg-color);
  --bg-ctg-item-thumb: #292e39;

  /** Filter Form */
  --filter-form-bg-color: #2f3441;
  --icon-search-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
  saturate(0%) hue-rotate(246deg) brightness(104%) contrast(101%);

  /** Auth Pages */
  --auth-intro-bg-color: #171c28;
  --auth-content-bg-color: #292e39;

  /** Product Detail Page */
  --breadcrumbs-bg-color: #171c28;
  --breadcrumbs-text-color: #9e9da8;
  --product-info-bg-color: #171c28;
  --product-preview-border-color: #00bcd4;
  --icon-heart-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(0%) hue-rotate(246deg) brightness(104%) contrast(101%);
}
