.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 46px;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #d2d1d6;
  background: #fff;
  overflow: hidden;
  transition: border-color 0.3s;

  &:focus-within {
    border-color: var(--text-hover-color);
  }

  &__field {
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

    &::placeholder {
      color: #d2d1d6;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__iconError {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
