@use "scss/abstracts" as *;

.logo {
  @include flexItemsCenter;
  gap: 14px;
  cursor: pointer;

  &__title {
    margin-top: 2.5px;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 145.455%;
    text-transform: uppercase;
  }

  /** Responsive */
  @include screen(tablet) {
    img {
      width: 24px;
    }

    &__title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 145.455%;
    }
  }
}
