.auth {
  display: flex;
  align-items: center;
  background: var(--auth-intro-bg-color);

  &__intro,
  &__content {
    flex: 1;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    &_text {
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      max-width: 412px;
      text-align: center;
    }
  }

  &__content {
    background: var(--auth-content-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;

    &_inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: min(490px, 100%);
      margin: 0 auto;
      text-align: center;
    }
  }

  &__heading {
    margin: 40px 0px;
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
  }

  &__desc {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  &__form {
    margin-top: 20px;
    width: 100%;
  }

  .checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
      // Ẩn checkbox mặc định
      appearance: none;
      -webkit-appearance: none;
      margin-right: 8px;
      width: 20px;
      height: 20px;
      border: 2px solid #d2d1d6;
      border-radius: 4px;
      background: #fff;
      position: relative;
      cursor: pointer;
      transition: border-color 0.3s;

      &:checked {
        border-color: var(--text-hover-color);
        background: var(--text-hover-color);
      }

      &:checked::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 6px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &:hover {
      input {
        border-color: var(--text-hover-color);
      }
    }
  }

  .hover_underline {
    margin-top: 1.5px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: var(--text-hover-color);
    }
  }
}
